<header class="site-header">
  <div class="wrapper header-wrapper">

    <!-- LEFT: TITLE -->
    <a class="site-title" href="/">Hearing in Real Life</a>

    <!-- RIGHT: MENU -->
    <details class="site-menu">
      <summary class="menu-button">☰</summary>

      <div class="menu-dropdown">
        <a href="/">Home</a>
        <a href="/resources/">Resources</a>
        <a href="/podcast/">Podcast</a>
        <a href="/2026/03/26/first-post.html">Posts</a>
        <a href="/about/">About</a>
      </div>
    </details>

  </div>
</header>
