<header class="site-header">
  <div class="wrapper">

    <!-- LEFT: TITLE (CLICKABLE = HOME) -->
    <a class="site-title" href="{{ "/" | relative_url }}">
      Hearing in Real Life
    </a>

    <!-- RIGHT: NAV -->
    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" />
      
      <label for="nav-trigger">
        <span class="menu-icon">☰</span>
      </label>

      <div class="trigger">
        <a href="/resources/">Resources</a>
        <a href="/podcast/">Podcast</a>
      </div>
    </nav>

  </div>
</header>
