scss

---
---

.footer-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start;
  padding-top: 20px;
}

.footer-left, .footer-right {
  width: 45%;
}

.footer-right {
  text-align: right !important;
}

.disclaimer {
  font-size: 0.85em;
  color: #666;
}
