---
layout: default
---

<div style="max-width:700px; margin:40px auto; padding:0 20px;">

  {{ content }}

  <!-- Comments -->
  <script src="https://giscus.app/client.js"
          data-repo="IshaNagar1/IshaNagar1.github.io"
          data-repo-id="R_kgDORx0tpg"
          data-category="General"
          data-category-id="DIC_kwDORx0tps4C5mUX"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async>
  </script>

</div>
